* {
    font-family: Arial, Helvetica, sans-serif;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg,  #80d0c7 0%, #13547a 100%);
}

#search-input {
    width: 100%;
}

#search-btn {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #80d0c7;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* USE FOR SEARCH HISTORY BUTTONS
/* .city-button {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
} */

#search-col {
    margin: 10px;
}

.current-city-box-css {
    border: solid black 1px;
    margin: 20px 20px 15px 10px;
}

#forecast {
    margin: 10px;
}

.uvindex-low {
    background-color: green;
    color: white;
    border: 1px solid green;
}

.uvindex-mod {
    background-color: yellow;
    color: white;
    border: 1px solid yellow;
}

.uvindex-high {
    background-color: orange;
    color: white;
    border: 1px solid orange;
}

.uvindex-veryhigh {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.uvindex-extreme {
    background-color: purple;
    color: white;
    border: 1px solid purple;
}

.forecast-cols {
    background-color: #13547a;
    color: white;
    border: 5px solid #13547a;
    padding: 25px;
    margin: 20px;
}